.main {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /*background: url(./Main.img/BG.png) 0 0 no-repeat;*/
  background-color: #E3314D;
  display: flex;
  flex-direction: column;
}
